html, body {
  display: block;
  background-color: #ece5de;
  font-family: 'Sen', sans-serif;
  padding-left: 15%;
  padding-right: 15%;
  color: #4e4b4b;
}

h1 {
  font-family: 'Allura', cursive;
  color: #c86b85;
  font-size: 50px;
}

h3 {
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: #de8a9e;
}

table {}

ul {
  position: relative;
  align-content: center;
}

hr {
  border-color: white;
  border-style: dotted none none;
  border-width: 5px;
  width: 15%;
  margin: 15px auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
